/dts-v1/;
/plugin/;

#include <dt-bindings/thermal/thermal.h>

/ {
	compatible = "armsom,sige7";
};

&package_thermal {
	trips {
		package_tepid: package-tepid {
			temperature = <50000>;
			hysteresis = <2000>;
			type = "active";
		};

		package_warm: package-warm {
			temperature = <60000>;
			hysteresis = <2000>;
			type = "active";
		};

		package_hot: package-hot {
			temperature = <67500>;
			hysteresis = <2000>;
			type = "active";
		};

		package_vhot: package-vhot {
			temperature = <75000>;
			hysteresis = <2000>;
			type = "active";
		};

		package_crit: package-crit {
			temperature = <115000>;
			hysteresis = <0>;
			type = "critical";
		};
	};

	cooling-maps {
		tepid {
			trip = <&package_tepid>;
			cooling-device = <&fan 0 1>;
		};

		warm {
			trip = <&package_warm>;
			cooling-device = <&fan 1 2>;
		};

		hot {
			trip = <&package_hot>;
			cooling-device = <&fan 2 3>;
		};

		vhot {
			trip = <&package_vhot>;
			cooling-device = <&fan 3 4>;
		};

		melt {
			trip = <&package_crit>;
			cooling-device = <&fan 5 THERMAL_NO_LIMIT>;
		};
	};
};
