/dts-v1/;
/plugin/;

#include <dt-bindings/thermal/thermal.h>

/ {
	compatible = "raspberrypi,4-compute-module";
};

&i2c0_0 {
	fan_controller: fan-controller@2e {
		compatible = "microchip,emc2305";
		reg = <0x2e>;
		#address-cells = <1>;
		#size-cells = <0>;
		#pwm-cells = <3>;

		fan0: fan@0 {
			reg = <0>;
			pwms = <&fan_controller 26000 0 1>;
			cooling-levels = <51 102 153 204 255>;
			#cooling-cells = <2>;
		};
	};
};

&cpu_thermal {
	trips {
		cpu_tepid: cpu-tepid {
			temperature = <50000>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_warm: cpu-warm {
			temperature = <60000>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_hot: cpu-hot {
			temperature = <67500>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_vhot: cpu-vhot {
			temperature = <75000>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_crit: cpu-crit {
			temperature = <90000>;
			hysteresis = <0>;
			type = "critical";
		};
	};

	cooling-maps {
		tepid {
			trip = <&cpu_tepid>;
			cooling-device = <&fan0 THERMAL_NO_LIMIT 0>;
		};

		warm {
			trip = <&cpu_warm>;
			cooling-device = <&fan0 1 1>;
		};

		hot {
			trip = <&cpu_hot>;
			cooling-device = <&fan0 2 2>;
		};

		vhot {
			trip = <&cpu_vhot>;
			cooling-device = <&fan0 3 3>;
		};

		melt {
			trip = <&cpu_crit>;
			cooling-device = <&fan0 4 THERMAL_NO_LIMIT>;
		};
	};
};
