/dts-v1/;
/plugin/;

#include <dt-bindings/thermal/thermal.h>

/ {
	compatible = "raspberrypi,4-compute-module";
};

&i2c0_0 {
	fan_controller: fan-controller@2e {
		compatible = "microchip,emc2305";
		reg = <0x2e>;
		#address-cells = <1>;
		#size-cells = <0>;

		fan0: fan@0 {
			reg = <0x0>;
			label = "Compute Module 4 Fan";
			cooling-levels = <0 50 100 150 200 255>;
			#cooling-cells = <2>;
		};

		fan1: fan@1 {
			reg = <0x1>;
			label = "Drive Fan 1";
		};
	};
};

&cpu_thermal {
	trips {
		cpu_tepid: cpu-tepid {
			temperature = <50000>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_warm: cpu-warm {
			temperature = <60000>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_hot: cpu-hot {
			temperature = <67500>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_vhot: cpu-vhot {
			temperature = <75000>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_crit: cpu-crit {
			temperature = <90000>;
			hysteresis = <0>;
			type = "critical";
		};
	};

	cooling-maps {
		tepid {
			trip = <&cpu_tepid>;
			cooling-device = <&fan0 THERMAL_NO_LIMIT 1>;
		};

		warm {
			trip = <&cpu_warm>;
			cooling-device = <&fan0 2 2>;
		};

		hot {
			trip = <&cpu_hot>;
			cooling-device = <&fan0 3 3>;
		};

		vhot {
			trip = <&cpu_vhot>;
			cooling-device = <&fan0 4 4>;
		};

		melt {
			trip = <&cpu_crit>;
			cooling-device = <&fan0 5 THERMAL_NO_LIMIT>;
		};
	};
};
